body {
    margin: 0px;
    font-family: "微软雅黑";
    background-color: #f2f2f2;
}

.index-left {
    width: 212px;
    float: left;
}

.index-middle {
    width: 550px;
    float: left;
    margin-left: 4px;
}

.index-right {
    width: 254px;
    float: left;
}

.custom-outer-container {
    width: 1024px;
}

.custom-input-outer {
    border: 1px #dfdfdf solid;
    background-color: white;
    height: 28px;
    line-height: 28px;
}

.custom-input-outer span {
    float: left;
    margin-left: 3px;
}

.custom-input-text {
    border: 0px;
    height: 25px;
}

.custom-button {
    border: 1px #FF5533 solid;
    background-color: #FF6600;
    color: white;
    height: 28px;
}

.custom-panel {
    background-color: white;
    border: 1px #dfdfdf solid;
}

#top1 {
    margin: 0px;
    z-index: 10;
}

#top_image {
    width: 100%;
    background-color: #F6F7FB;
    height: 80px;
    border: 1px #d2d2d2 solid;
}

#top_control {
    width: 100%;
    background-color: #F6F7FB;
    height: 26px;
    line-height: 26px;
    border: 1px #d2d2d2 solid;
    text-align: left;
    display: inline-block;
}

#top_control .top-control-label{
    text-decoration: none;
    color: #666;
    margin-left: 22px;
    font-size: 13px;
    vertical-align: middle;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}

#top_control label:first-child {
    margin-left: 160px;
}

.top-control-orange-btn {
    height: 21px;
    text-align: center;
    line-height: 8px;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 6px;
    color: #fff;
}

#top_register {
    height: 20px;
    text-align: center;
    line-height: 8px;
    font-size: 13px;
    margin-bottom: 9px;
    margin-left: 6px;
}

.top-control-btn {
    height: 21px;
    text-align: center;
    line-height: 8px;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 6px;
    color: #666;
}

#control_right{
    margin-left: 230px;
    text-decoration: none;
    color: #666;
    font-size: 13px;
    font-weight: 200;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
}

#simple_link {
    height: 120px;
}

#logo {
    width: 200px;
    height: 90px;
    background-color: #FF5533;
    margin-top: 16px;
    float: left;
}

#search_container {
    margin-top: 30px;
    margin-left: 50px;
    width: 490px;
    float: left;
}

#switch_style {
    margin-top: 36px;
    float: left;
    margin-left: 30px;
}

#switch_style div{
    margin-left: 12px;
    display: inline-block;
}

#navgate_container {
    height: 40px;
}

#all_jobs_title {
    color: #FF6600;
    font-size: 13px;
    font-weight: 900;
    float: left;
    margin-top: 4px;
    width: 210px;
}

#navgate_bar {
    margin-left: 4px;
    width: 810px;
    border-bottom: 3px #FF5533 solid;
    float: left;
    height: 34px;
}

#navgate_ul {
    list-style: none;
    width: 100%;
    height: 32px;
    margin-bottom: 0px;
}

.navgate_item {
    width: 90px;
    margin-left: 8px;
    height: 32px;
    line-height: 32px;
    float: left;
    font-size: 13px;
    margin-bottom: 0px;
    cursor: pointer;
}

.navgate_item_active { 
    background-color: #FF5533;
    color: white;
}

#all_job_type {
    width: 100%;
    height: 300px;
    float: left;
    border: 1px #d2d2d2 solid;
    background-color: #F6F7FB;
}

.all-jobs-type-title {
    color: #252628;
    font-size: 15px;
    font-weight: 900;
    margin: 5px;
    display: block;
}

#all_salary, #all_types, #job_people, #job_area {
    height: 75px;
}

#all_salary div, #all_types div, #job_people div, #job_area div{
    width: 90px;
    font-size: 12px;
    margin-top: px;
    margin-left: 12px;
    float: left;
}

#all_salary div a ,#all_types div a, #job_people div a, #job_area div a{
    color: #666;
}

#all_types div, #job_people div{
    width: 50px;
}

#job_area div {
    width: 48px;
}

#job_people {
    height: 55px;
}

#ad_first {
    height: 180px;
    border: 1px #d2d2d2 solid;
    background-color: #F6F7FB;
    position: relative;
}

#ad_first img{
    position: absolute;
}

#page_ul {
    list-style: none;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -72px;
    bottom: -12px;
}

.page-item {
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 10px;
    height: 10px;
    margin-left: 8px;
    background-color: #cfcfcf;
    border: 1px #999 solid;
    float: left;
    cursor: pointer;
}

.page-item-active {
    background-color: #FF5533;
    border: 1px #FF6600 solid;
}

#left-panel {
    height: 625px;
}

#right_panel {
    height: 625px;
}

#login_panel {
    border: 1px #d2d2d2 solid;
    background-color: #F6F7FB;
    height: 160px;
    text-align: center;
}

#login_panel h4{
    font-family: 华文行楷;
    font-size: 20px;
    color: #FF5533;
    width: 100%;
    text-align: center;
    height: 36px;
    line-height: 36px;
}

#free_for_job_btn{
    width: 90%;
    margin-top: 10px;
}

#login_panel_btn {
    width: 60%;
    margin-top: 10px;
}

.middle-ad {
    width: 273px;
    height: 120px;
    border: 1px #d2d2d2 solid;
    margin: 1px;
    float: left;
}

#ad_list {
    height: 302px;
    width: 765px;
}

.ad-div {
    height: 160px;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
}

#ml_news {
    width: 100%;
    height: 200px;
    border: 1px #d2d2d2 solid;
    margin-top: 3px;
    background-color: #F6F7FB;
}

#ml_news_title, #rights_protect_show_title, #recommand_job_title {
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: 900;
    height: 28px;
    line-height: 28px;
    border-bottom: 3px #FF5533 solid;
    padding-left: 10px;
}
#recommand_job {
    background-color: #F6F7FB;
}

#recommand_job_title a {
    float: right;
    margin-right: 8px;
}

#ml_news p{
    margin-top: 8px;
    margin-left: 5px;
}

#mbti_test {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

#recommand_job {
    width: 100%;
    height: 201px;
    border: 1px #d2d2d2 solid;
    margin-top: 4px;
}

/*======*/




/*#F6F7FB*/
.job_desc:first-child {
    width: 240px;
    margin: 0px;
    text-align: left;
    padding: 5px;
    border: 1px #ddd solid;
    background-color: #F6F7FB;
}

.job_desc {
    height: 240px;
    width: 194px;
    margin-left: 2px;
    float: left;
}

#middle_image {
    width: 100%;
    background-color: #F6F7FB;
    height: 80px;
    border: 1px #d2d2d2 solid;
    margin-top: 5px;
}

#talent_pool {
    height: 220px;
    width:220px;
    border: 1px #dfdfdf solid;
    float: left;
}

#telent_pool_peopulation, #rights_protect_title {
    width: 90%;
    background-color: #FF5533;
    color: white;
    margin-top: 8px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

#telent_pool_desc {
    width: 90%;
    margin-top: 8px;
    background-color: #DDD8C2;
    height: 90px;
    padding: 8px;
    line-height: 25px;
}

#rights_protect_desc {
    width: 90%;
    margin-top: 8px;
    background-color: #D8D8D8;
    height: 90px;
    padding: 8px;
    line-height: 25px;
}

#join_talent_pool_btn, #get_rights_btn {
    margin-top: 15px;
    width: 90%;
}

#talent_show {
    float: left;
    width: 279px;
    margin-left: 5px;
}

#talent_1 {
    width:279px;
    height: 108px;
    border: 1px #dfdfdf solid;
}

#talent_2 {
    width:279px;
    height: 107px;
    border: 1px #dfdfdf solid;
    margin-top: 5px;
}

#rights_protect {
    width:200px;
    border: 1px #dfdfdf solid;
    height: 220px;
    margin-left: 5px;
    float: left;
}

#rights_protect_show {
    width:310px;
    border: 1px #dfdfdf solid;
    height: 220px;
    margin-left: 5px;
    float: left;
}

#index_foot {
    height: 380px;
    border: 1px #dfdfdf solid;
    margin-top: 3px;
}

#foot_table{
    width: 100%;
}

#foot_sina_icon {
    background: url(http://img.t.sinajs.cn/t35/appstyle/opent/images/app/btn_trans.gif?id=201104131414) 0 no-repeat;
    background-position: 0px -56px;
    width: 18px;
    height: 18px;
}

#foot_table tr td {
    text-align: center;
    padding-top: 20px;
}

#foot_table tr td div ul{
    list-style: none;
    text-align: left;
}

#foot_table tr td div ul li {
    margin-top: 5px;

}

#foot_table tr td div ul li a {
    color: #666;
}

#foot_table table tr td{
    padding: 0px;
}

.foot_table_div {
    height: 200px;
}

#foot_friend_link {
    width: 900px;
}

#foot_friend_link a {
    margin-left: 10px;
}

#right_quick_nav {
    position: fixed;
    top: 400px;
    width: 100px;
    height: 300px;
    border: 1px #aaa solid;
    right: 10px;
    z-index: 9;
}