body {
    margin: 0px;
    font-family: "微软雅黑";
    background-color: #f2f2f2;
}

.index-left {
    width: 212px;
    float: left;
}

.index-middle {
    width: 550px;
    float: left;
    margin-left: 4px;
}

.index-right {
    width: 254px;
    float: left;
}

.custom-outer-container {
    width: 1024px;
}

.custom-input-outer {
    border: 1px #dfdfdf solid;
    background-color: white;
    height: 28px;
    line-height: 28px;
}

.custom-input-outer span {
    float: left;
    margin-left: 3px;
}

.custom-input-text {
    border: 0px;
    height: 25px;
}

.custom-button {
    border: 1px #FF5533 solid;
    background-color: #FF6600;
    color: white;
    height: 28px;
}

.custom-panel {
    background-color: white;
    border: 1px #dfdfdf solid;
}

#top1 {
    margin: 0px;
}

#top_image {
    width: 100%;
    background-color: #F6F7FB;
    height: 80px;
    border: 1px #d2d2d2 solid;
}

#top_control {
    width: 100%;
    background-color: #F6F7FB;
    height: 26px;
    line-height: 26px;
    border: 1px #d2d2d2 solid;
    text-align: left;
    display: inline-block;
}

#top_control .top-control-label{
    text-decoration: none;
    color: #666;
    margin-left: 22px;
    font-size: 13px;
    vertical-align: middle;
    font-weight: 200;
    display: inline-block;
    cursor: pointer;
}

#top_control label:first-child {
    margin-left: 160px;
}

.top-control-orange-btn {
    height: 21px;
    text-align: center;
    line-height: 8px;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 6px;
    color: #fff;
}

#top_register {
    height: 20px;
    text-align: center;
    line-height: 8px;
    font-size: 13px;
    margin-bottom: 9px;
    margin-left: 6px;
}

.top-control-btn {
    height: 21px;
    text-align: center;
    line-height: 8px;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 6px;
    color: #666;
}

#control_right{
    margin-left: 230px;
    text-decoration: none;
    color: #666;
    font-size: 13px;
    font-weight: 200;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
}

#simple_link {
    height: 120px;
}

#logo {
    width: 200px;
    height: 90px;
    background-color: #FF5533;
    margin-top: 16px;
    float: left;
}

#search_container {
    margin-top: 30px;
    margin-left: 50px;
    width: 490px;
    float: left;
}

#switch_style {
    margin-top: 36px;
    float: left;
    margin-left: 30px;
}

#switch_style div{
    margin-left: 12px;
    display: inline-block;
}

#navgate_container {
    height: 40px;
}

#all_jobs_title {
    color: #FF6600;
    font-size: 13px;
    font-weight: 900;
    float: left;
    margin-top: 4px;
    width: 210px;
}

#navgate_bar {
    margin-left: 4px;
    width: 810px;
    border-bottom: 3px #FF5533 solid;
    float: left;
    height: 34px;
}

#navgate_ul {
    list-style: none;
    width: 100%;
    height: 32px;
    margin-bottom: 0px;
}

.navgate_item {
    width: 90px;
    margin-left: 8px;
    height: 32px;
    line-height: 32px;
    float: left;
    font-size: 13px;
    margin-bottom: 0px;
    cursor: pointer;
}

.navgate_item_active { 
    background-color: #FF5533;
    color: white;
}

#all_job_type {
    width: 100%;
    height: 300px;
    float: left;
    border: 1px #d2d2d2 solid;
    background-color: #F6F7FB;
}

#ad_first {
    height: 180px;
    border: 1px #d2d2d2 solid;
    background-color: #F6F7FB;
}

#left-panel {
    height: 700px;
}

#right_panel {
    height: 700px;
}

#login_panel {
    border: 1px #d2d2d2 solid;
    background-color: #F6F7FB;
    height: 160px;
}

.middle-ad {
    width: 273px;
    height: 120px;
    border: 1px #d2d2d2 solid;
    margin: 1px;
    float: left;
}

#ad_list {
    height: 302px;
    width: 765px;
}

.ad-div {
    border: 1px #d2d2d2 solid;
    height: 160px;
}

#ml_news {
    width: 100%;
    height: 200px;
    border: 1px #d2d2d2 solid;
    margin-top: 3px;
}

#ml_news_title {
    text-align: left;
    color: black;
    font-size: 14px;
    font-weight: 900;
    height: 28px;
    line-height: 28px;
    border-bottom: 3px #FF5533 solid;
}

#mbti_test {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

#recommand_job {
    width: 100%;
    height: 201px;
    border: 1px #d2d2d2 solid;
    margin-top: 4px;
}

/*======*/




/*#F6F7FB*/
